
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- stylesheet  -->
  <link rel="stylesheet" href="etc/css/tether.min.css">
  <link rel="stylesheet" href="etc/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link rel="stylesheet" href="dist/style/app.css">
  <link rel="icon" href="dist/images/fav.png">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>

  <title>Service</title>
</head>
<body>
  
<div id="homeApp">
  <div id="page" class="page">
    <!-- sart navbar -->
    <div id="navbar1">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
          <!-- start toggle button -->
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- end toggle button -->
          <!-- start brand -->
          <a class="navbar-brand" href="#">
            <img src="dist/images/logo.png" alt="logo">
          </a>
          <!-- end brand -->
          <!-- start menue -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about2">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#price2">pricing</a>
              </li>            
            </ul>
          </div>
          <!-- end menue -->
        </div>
      </nav>
    </div>
    <!-- end navbar -->
    <!-- start hero 2 -->
    <div id="hero2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="hero-text">
              <h1 class="animated fadeInDown">Сервис поддержки принятия инвестиционных решений</h1>
              <p class="animated fadeInDown">по формированию эффективных Портфелей и Программ</p>
              <button id="show-modal" @click="registerModal = true" class="btn btn-primary btn-sh-primary animated fadeInDown">{{ $t("register.Start_using") }}</button>
              <button class="btn btn-primary btn-sh-primary animated fadeInDown">{{ $t("register.Learn_more") }}</button>
            </div>
            <div class="hero-img">
              <div class="b-img animated fadeInUp"><img src="dist/images/hero.png" alt="hero img2"></div>
              <div class="t-img animated fadeInUp"><img src="dist/images/hero.png" alt="hero img"></div>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>
    <!-- end hero 2 -->
    <!-- start baner -->
    <div id="baner2">
      <div class="baner-shadow">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <p>Вы можете попробовать работу сервиса на подготовленном нами примере</p>
            </div>
            <div class="col-lg-4">
              <a href="#" class="btn btn-primary">{{ $t("register.Try") }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end baner -->
    <!-- start about section -->
    <div id="about2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="img">
              <img src="dist/images/bg-6.jpg" alt="about image">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text">
              <p class="paragraph">Lorem ipsum dolor sit amet adipisicing elit. Ipsam,</p>
              <h1>Задачи формирования Портфелей и Программ</h1>
              <p class="paragraph">
                возникают практически во все сферах человеческой деятельности всякий раз, когда надо принять решение выбора из исходного Пула потенциальных объектов инвестирования некоторого предпочтительного набора этих объектов инвестирования, который обеспечит достижение желаемых целей.
              </p>
              <div class="bottom">
                <div class="left">
                  <span>Considered design</span>
                  <h1>Documented</h1>
                  <p class="paragraph">Lorem Ipsum is simply dummy .</p>
                </div>
                <div class="right">
                  <span>Impeccable service</span>
                  <h1>Customizable</h1>
                  <p class="paragraph">Lorem Ipsum is simply dummy .</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <div class="logo"><img src="dist/images/client-1.png" alt="clint logo"></div>
          </div>
          <div class="col-lg-2">
            <div class="logo"><img src="dist/images/client-2.png" alt="clint logo"></div>
          </div>
          <div class="col-lg-2">
            <div class="logo"><img src="dist/images/client-3.png" alt="clint logo"></div>
          </div>
          <div class="col-lg-2">
            <div class="logo"><img src="dist/images/client-4.png" alt="clint logo"></div>
          </div>
          <div class="col-lg-2">
            <div class="logo"><img src="dist/images/client-5.png" alt="clint logo"></div>
          </div>
          <div class="col-lg-2">
            <div class="logo"><img src="dist/images/client-6.png" alt="clint logo"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END about SECTION -->
    <!-- start price -->
    <div id="price2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="head">
              <h1>Choose your favorite plan</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <br>Lorem Ipsum has been the industry's standard dummy text .</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="pricetable">
              <div class="head">
                <p>PERSONAL</p>
                <h1>$40</h1>
                <p>eVERY YEAR</p>
              </div>
              <div class="text">
                <p>1 GB Photos</p>
                <p>Secure Online Transfer</p>
                <p>Unlimited Styles</p>
                <p>Customer Service</p>
                <p>Manual Backup</p>
              </div>
              <div class="bottom"><a href="#" class="btn btn-primary">choose plane</a></div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricetable">
              <div class="head">
                <p>PERSONAL</p>
                <h1>$536</h1>
                <p>eVERY YEAR</p>
              </div>
              <div class="text">
                <p>1 GB Photos</p>
                <p>Secure Online Transfer</p>
                <p>Unlimited Styles</p>
                <p>Customer Service</p>
                <p>Manual Backup</p>
              </div>
              <div class="bottom"><a href="#" class="btn btn-primary">choose plane</a></div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricetable">
              <div class="head">
                <p>PERSONAL</p>
                <h1>$918</h1>
                <p>eVERY YEAR</p>
              </div>
              <div class="text">
                <p>1 GB Photos</p>
                <p>Secure Online Transfer</p>
                <p>Unlimited Styles</p>
                <p>Customer Service</p>
                <p>Manual Backup</p>
              </div>
              <div class="bottom"><a href="#" class="btn btn-primary">choose plane</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end price -->
    <!-- start footer -->
    <footer id="footer2">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="navbar-brand">
              <img src="dist/images/logo.png" alt="logo">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="copy">
              <p>&copy; 2017 otho is Proudly Powered By <a href="#">Ra-Themes</a></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="social">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-twitter"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
              <a href="#"><i class="zmdi zmdi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- end footer -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask" id="modal">
          <div class="modal-wrapper">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <slot name="header">
                    default header
                  </slot>
                </div>
                <div class="tab-content">
                  <slot name="body">
                  </slot>
              </div>
              </div>
            </div>
          </div>
        </div>
      </transition>

    </script>
    
    <!-- app -->
      <!-- use the modal component, pass in the prop -->
      <modal v-if="registerModal" @close="registerModal = false">
        <h3 slot="header">{{ $t("register.Registration") }}</h3>
        <template slot="body">
            <div class="modal-body">
              <form    novalidate="true"
              @submit="regCh"
              class="form-signin">
                <div v-show="currentTab == 'registerOne'">
                  <div class="form-group">
                      <small class="form-text text-muted">{{ $t("register.All_fields_must_be_filled") }}</small>
                  </div>
                  <div class="form-group">

                      <input type="email" class="form-control" v-model="regMail" :placeholder="$t('register.Email_address') ">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" v-model="regPassword" :placeholder="$t('register.Password')">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" v-model="regRepeatPassword" :placeholder="$t('register.Repeat_password')">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" v-model="regName" :placeholder="$t('register.Name')">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" v-model="regCountry" :placeholder="$t('register.Your_country')">
                  </div>

                </div>
                <div v-show="currentTab == 'registerTwo'">
                  <div class="form-group">
                      <input type="text" class="form-control" v-model="regIndustry" :placeholder="$t('register.Industry')">
                      <small class="form-text text-muted ml">{{ $t("register.This_field_is_required") }}</small>
                  </div>
                  <div class="form-group">
                      <textarea v-model="regClassTasks" class="form-control"  :placeholder="$t('register.Class_of_tasks')"></textarea>
                    </div>
                  <div class="form-group">
                      <input type="text" class="form-control" v-model="regPhone" :placeholder="$t('register.Phone')">
                   </div>
                  <div class="form-group">
                      <input type="text" class="form-control" v-model="regCompany" :placeholder="$t('register.Company')">
                   </div>
                </div>            
                <div class="form-group">
                    {{errors}}
                </div>
              </form>  

            </div>
            <div class="modal-footer">
              <button type="button" v-if="currentTab == 'registerOne'" class="btn btn-secondary" @click="registerModal = false">{{ $t("register.Cancel") }}</button>
              <button type="button" v-if="currentTab == 'registerTwo'" class="btn btn-secondary" @click="currentTab = 'registerOne'" >{{ $t("register.Prev") }}</button>
              <button type="button" v-if="currentTab == 'registerOne'" role="presentation" @click="regOne()" class="btn btn-primary">{{ $t("register.Next") }}</button>
              <a v-if="currentTab == 'registerTwo'" class="btn btn-primary" href="#" v-on:click="regCh()">Регистрация</a>

            </div>
        </template>
      </modal>
  </div>
</div>
<!-- script -->
<!--<script src="etc/js/jquery.min.js"></script>-->
<!--<script src="etc/js/tether.min.js"></script>-->
<!--<script src="etc/js/bootstrap.min.js"></script>-->

<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.component('modal', {
    template: '#modal-template'
  })
  
  // start app
  
  const messages = {
    en: {
      register: {
        Email_address: 'Email_address',
        Registration: 'Registration',
        Cancel: 'Cancel',
        Learn_more: 'Learn more',
        Start_using: 'Start using',
        Try: 'Try',
        Name: 'Name',
        Your_country: 'Your country',
        Industry: 'Industry',
        Password: 'Password',
        Repeat_password: 'Repeat password',
        Next: 'Next step',
        Prev: 'Previous step',
        All_fields_must_be_filled: 'All fields must be filled!',
        Class_of_tasks:'Class of tasks',
        Phone: 'Phone',
        Company: 'Company',
        This_field_is_required: 'This field is required',
        Please_enter_your_name: 'Please enter your name',
        Please_enter_email: 'Please enter valid Email',
        Please_enter_password: 'Пожалуйста, укажите пароль',
        Passwords_do_not_match: 'Passwords_do_not_match',
        Please_enter_country: 'Please_enter_country',
        Please_enter_industry: 'Please_enter_industry'
      }
    },
    ru: {
      register: {
        Email_address: 'Адрес email',
        Registration: 'Регистрация',
        Registration2: 'Регистрация5',
        Cancel: 'Отмена',
        Learn_more: 'Узнать больше',
        Start_using: 'Начать пользоваться',
        Try: 'Попробовать',
        Name: 'Имя',
        Your_country: 'Ваша страна',
        Industry: 'Отрасль',
        Password: 'Пароль',
        Repeat_password: 'Пароль ещё раз',
        Next: 'Далее',
        Prev: 'Назад',
        All_fields_must_be_filled: 'Все поля должны быть обязательно заполнены!',
        Class_of_tasks:'Описание  класса/классов задач которые интересны для решения',
        Phone: 'Телефон',
        Company: 'Компания',
        This_field_is_required: 'Это поле обязательно к заполнению',
        Please_enter_valid_email: 'Пожалуйста, укажите коректный Email',
        Please_enter_your_name: 'Пожалуйста, укажите имя',
        Please_enter_password: 'Пожалуйста, укажите пароль',
        Passwords_do_not_match: 'Пароли не совпадают',
        Please_enter_country: 'Пожалуйста, укажите страну',
        Please_enter_industry: 'Пожалуйста, укажите отрасль'
      }
    }
  }
  
  // Create VueI18n instance with options
  const i18n = new VueI18n({
    locale: 'ru', // set locale
    fallbackLocale: 'en',
    messages, // set locale messages
  })
  
  
  // Create a Vue instance with `i18n` option
  var homeApp = new Vue({
    el: '#homeApp',
    data: {
      registerModal: false,
      currentTab: 'registerOne',
      message: 'Hi',
      regMail: '',
      regPassword: '',
      regRepeatPassword: '',
      regName: '',
      regCountry: '',
      regPhone: '',
      regCompany: '',
      regIndustry: '',
      regClassTasks: '',
      errors: ''
    }, 
    methods: {
        regOne: function() {
          if (!this.regMail) {
            this.errors = this.$t("register.Please_enter_valid_email");
            return;
          } else if (!this.validEmail(this.regMail)) {
            this.errors = this.$t("register.Please_enter_valid_email");
            return;
          }
          if (!this.regPassword) {
            this.errors = this.$t("register.Please_enter_password");
            return;
          }
          if (!this.regRepeatPassword) {
            this.errors = this.$t("register.Passwords_do_not_match");
            return;
          } else if (this.regRepeatPassword != this.regPassword) {
            this.errors = this.$t("register.Passwords_do_not_match");
            return;
          }
          if (!this.regName) {
            this.errors = this.$t("register.Please_enter_your_name");
            return;
          }
          if (!this.regCountry) {
            this.errors = this.$t("register.Please_enter_country");
            return;
          }
          this.errors = '';
          this.currentTab = 'registerTwo';
        },
        validEmail: function (email) {
          var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        },
        regCh: function() {
          if (!this.regIndustry) {
            this.errors = this.$t("register.Please_enter_industry");
            return;
          }
          this.errors = '';

            // make ajax request and pass the data. I'm not certain how to do it with axios but something along the lines of this
            axios.post('/my-url/', {
              regMail: this.regMail,
              regName: this.regName,
              regCountry: this.regCountry,
              regPhone: this.regPhone,
              regCompany: this.regCompany,
              regIndustry: this.regIndustry,
              regClassTasks: this.regClassTasks,
              regPassword: this.regPassword
            })
            .catch(error => {
        console.log(error);
        this.errored = true;
      });

        }
    },
    i18n
  })
  </script>
<!-- <script src="etc/js/jquery.nicescroll.min.js"></script> -->
<!--<script src="dist/js/app.js"></script>-->
<p v-if="errors.length">
  <b>Пожалуйста исправьте указанные ошибки:</b>
  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>
</p>


</body>
</html>
