body {
	padding:0;
  	font-family: 'Arial', sans-serif;
	background: #f8f8f8;
}
a.forpas {
	font-size: 12px;
	color: #1986cc;
}
.login {
	background: #fff;
	color: #5a5353;
	position: absolute; 
	top: 50%;
	left: 50%;
	width: 315px; 
	height: 320px;
	margin-top: -150px; 
	margin-left: -150px; 
	box-shadow: 0 0 15px 0 #b2b2b2;
	text-align: center;
}
.login h1 {
	text-align: center;
	font-size: 23px;
	background-color: #42505e;
	border-bottom: 5px solid #1986cc; 
	color: #fff;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding: 15px 14px;
}
.login form {
	padding: 5px 15px 0 15px;
}
.login input[type="text"], .login input[type="password"] {
	outline: none;
	height: 38px;
    padding: 0 .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
	width: 230px;
	margin-top: 30px;
	o-transition: border-bottom-color 0.3s linear;
    transition: border-bottom-color 0.3s linear;
    -webkit-font-smoothing: subpixel-antialiase;
}
.login input[type="text"]:focus, .login input[type="password"]:focus {
	border-bottom-color: #03A9F4;
}

.login button {
	outline: none;
	font-size: 14px;
	text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
	border: none;
	padding: 10px 20px 10px 20px;
	background-color: #42505e;
	color: #fff;
	margin-top: 30px;
	-moz-transition: background-color 0.4s 0.1s ease;
	-o-transition: background-color 0.4s 0.1s ease;
	-webkit-transition: background-color 0.4s 0.1s ease;
	transition: background-color 0.4s 0.1s ease;
}
.login button:hover {
	background-color: #1986cc;
}
.login input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; 
    -webkit-text-fill-color: #888 !important; 
    color: #888 !important;
}
#error {
	display: none;
	position: absolute; 
	top: 50%;
	left: 50%;
	width: 285px; 
	margin-top: 180px; 
	margin-left: -150px; 
	background: #fff;
	color: #5a5353;
	font-weight: bold;
	font-size: 14px;
	padding: 15px;
	box-shadow: 0 0 15px 0 #b2b2b2;
}